body,
html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  height: 200%;
}

.full-height {
  height: 100vh;
}
.initialPositionHeader {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}

#title {
  font-size: 48px;
}

#subtitle {
  visibility: hidden; /* Imposta l'elemento come nascosto di default */
}
#photo {
  height: 30vh;
  visibility: hidden;
}

.container {
  display: flex;
  justify-content: center;
}
.section {
  height: 100vh;
}

.section > :first-child {
  padding-top: 35vh;
}

@media only screen and (max-width: 768px) {
  #subtitle {
    margin-top: -6%;
  }
  .section-portfolio > :first-child {
    padding-top: 2vh;
  }
}

#technologies {
  text-align: center;
}

.tech {
  opacity: 0;
  transform: translateY(20px);
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
  cursor: pointer;
}

/*card*/
.project-card {
  text-decoration: none; /* Rimuove la sottolineatura del link */
  color: inherit; /* Eredita il colore del testo dal genitore */
  display: block;
}
#section-portfolio {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
  text-align: center;
}

.project-card {
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.project-card:hover {
  transform: translateY(-10px); /* Effetto di 'hover' che solleva la card */
}

.project-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.project-technologies {
  font-size: 0.9em;
  color: #666;
}
.live-badge {
  position: absolute;
  top: 10px; /* Regola la posizione in base al layout della card */
  left: 10px;
  background-color: #4caf50; /* Un colore che indica 'live' o 'attivo' */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  text-transform: uppercase;
  z-index: 10; /* Assicurati che sia sopra gli altri elementi della card */
}
@media (max-width: 768px) {
  .section-portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto; /* Permette lo scorrimento orizzontale */
  }

  .project-card {
    width: 100%;
    flex: 0 0 50%; /* Ogni card occupa circa metà dello schermo su dispositivi mobili */
    margin-right: 20px; /* Aggiunge spazio a destra di ogni card */
    /* Altre proprietà... */
  }
}
